.display-layout{
    height: 80vh;
    width: 95%;
    border: 2px solid white;
    border-radius: 3px;
    box-shadow: 0 0 3px gray;
    float:right;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
    background: rgba(130, 123, 123, 0.8);
    overflow: scroll;
}
.exercise-box{
    margin: 48px auto 0;
    width: 650px;
    height: 100px;
    font-family: Quicksand, arial, sans-serif; 
    font-size: 1.25em;
    padding: 0.25em 1em;
    border: 2px solid palevioletred;
    border-radius: 3px;
    border: 2px solid WHITE;
    cursor: pointer;
    box-shadow: 0 0 3px gray;
}
.exercise-box:hover{
    outline: none;
        transform: scale(1.05);
}