.mainpage{
    font-family: "Montserrat", sans-serif;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: cover;
    max-height: 400px;
    overflow: hidden;
}